<section>
    <div class="container">
        <header class="section-header">
            <div class="col-sm-12 col-xs-12" data-ng-show="vm.jobs.length != 0">
                <h2 id="results">{{ 'JOB_SEARCH_RESULTS' | translate }}</h2>
            </div>
            <div class="col-sm-12 col-xs-12" data-ng-show="vm.jobs.length == 0">
                <h2 id="results">{{ 'NO_SEARCH_RESULTS' | translate }}</h2>
            </div>
        </header>

        <div class="row">
            <div class="pag-container">
                <uib-pagination total-items="vm.totalCount" ng-model="vm.currPage" ng-change="vm.changePage()" max-size="vm.noPages" items-per-page="vm.jobsPerPage" class="" boundary-link-numbers="false" rotate="false" data-ng-show="vm.totalCount > vm.jobsPerPage"></uib-pagination>
            </div>
        </div>

        <div class="job-items">
            <div class="col-sm-12 col-xs-12 job-item" data-ng-repeat="job in vm.jobs">
                <a class="" ng-href="#!job/{{job._id}}#title">
                    <div class="job-data">
                        <div class="job-data-left col-sm-9 col-xs-12">
                            <div class="logo" data-ng-show="job.logoUri">
                                <img data-ng-src="{{job.logoUri}}" alt="Logo" />
                            </div>
                            <div class="hgroup">
                                <h4 class="capitalize">{{job.title}}</h4>
                                <h5>{{job.company}}</h5>
                            </div>
                        </div>
                        <div class="meta pull-right col-sm-3 col-xs-12">
                            <div class="location capitalize" data-ng-show="job.location">
                                <i class="fa fa-map-marker"></i> {{ job.location | locationFilter }}
                            </div>
                            <div class="label label-success">{{ job.type }}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="pag-container">
                <uib-pagination total-items="vm.totalCount" ng-model="vm.currPage" ng-change="vm.changePage()" max-size="vm.noPages" items-per-page="vm.jobsPerPage" class="" boundary-link-numbers="false" rotate="false" data-ng-show="vm.totalCount > vm.jobsPerPage"></uib-pagination>
            </div>
        </div>
    </div>
</section>